CONVEX_DEPLOYMENT=

VITE_CONVEX_URL=

GEMINI_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
ELEVENLABS_MODEL_ID=eleven_v3
ASI_API_KEY=
ASI_MODEL=asi1-mini
AGENTVERSE_API_KEY=
AGENT_NAME=reptile-chemica
AGENT_PORT=8001
